@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import 'colors.css';

:root {
    --title-height: min(20vmin, 90px);
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;

    background-color: var(--background);
}

.title {
    margin-left: 5px;
    font-size: 1em;
}

.title a {
    transition: color 0.3s;
    color: var(--foreground-active);

}

.title a:hover {
    color: lightpink;
}

.pageTitle {
    margin-left: -0.15em;
    color: var(--foreground-inactive);
}

h1 {
    color: var(--color1);
    padding-bottom: 0;
    margin-bottom:0;
    margin-top:0;
}

ul {
    margin-top: 0;
    list-style-type: none;
}

li {
    display:inline;
}

a.fsText {
    text-decoration: none;
    color: var(--foreground-inactive);

    transform: scale(1);
    transition: background-color 0.2s, color 0.2s, transform 0.2s;
}

.fsText a {
    text-decoration: none;
    color: var(--foreground);
}

a.fsText:hover {
    /*color: var(--accent);*/
}

.fsText {
    --font-size: 1.4em;
    font-size: var(--font-size);
    color: var(--foreground);
}

.page {
    position: absolute;
    width: max(30vmax,500px);
    left:50%;
    top:0;
    margin-top: 1em;
    padding: 0px 0 50px;
    /*background-color: var(--foreground-inactive);*/

    transform: translate(-50%, 0);
}

.page p {
    margin: 0 0px;
    padding-top: 20px;
    color: var(--foreground);
    opacity: 1.0;
}

.page h1 {
    color: var(--foreground-inactive);

    font-size: 1.3em;
    font-weight: bold;
}

#include sidebar.css
#include socials.css
#include portfolio.css
#include planets.css
#include footer.css
