@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
@import 'colors.css';

:root {
    --title-height: min(20vmin, 90px);
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;

    background-color: var(--background);
}

#include title.css
#include nav.css
#include landing.css
#include blog.css

.pageTitle {
    margin-left: -0.15em;
    color: var(--foreground-inactive);
}

h1 {
    color: var(--color1);
    padding-bottom: 0;
    margin-bottom:0;
    margin-top:0;
}

ul {
    margin-top: 0;
    list-style-type: none;
}

li {
    display:inline;
}

a.fsText {
    text-decoration: none;
    color: var(--foreground-inactive);
    transform: scale(1);
    transition: background-color 0.2s, color 0.2s, transform 0.2s;
}

.fsText a {
    text-decoration: none;
    color: var(--foreground);
}

.fsText {
    --font-size: 1.4em;
    font-size: var(--font-size);
    color: var(--foreground);
}

.page {
    position: absolute;
    width: max(30vmax,500px);
    left:50%;
    top:0;
    padding: 0px 0 50px;
    padding-top: 5vh;

    transform: translate(-50%, 0);
}
@media only screen and (max-width: 600px) {
    .page {
        width: 100%;
        padding: 0;
    }
}

.page .textPanel .separator {
    position: relative;
    background-color: var(--foreground-inactive);

    width: .35em;
    height: .35em;
    left: 50%;

    border-radius: 100%;

    transform: translateX(-50%);
}

.page a {
    text-decoration: none;
    color: var(--accent);
    transition: all 0.1s;
}
.page a:hover {
    color: var(--foreground);
}

.page .textPanel {
    margin: 0;
    margin-left: -2em;
    padding: .6em 2em;
    color: var(--foreground-inactive);

    font-size: 1.1em;
    /*font-weight: bold;*/

    line-height: 1.25em;

    background-color: var(--background);
    border-radius: 2em;

    width: 100%;
    border-color: var(--background-alt);
    border-width: 3px;
    border-style: solid;
}

.page h1 {
    color: var(--foreground-inactive);

    font-size: 1.7em;

    margin: .5em;

    text-align: center;
}

#include socials.css
#include gallery.css
#include planets.css
#include footer.css
