.tileCover {
    width: 100%;
    height: 100%;
    opacity: 0.0;
    transition: opacity 0.3s;
}

.tileCover:hover {
    opacity: 1.0;
}

.page.portfolio {
    padding-top: 0;
    width: 50%;

    margin-left:auto;
    margin-right:auto;

    transform: translate(-50%,0);
}

.portfolio h1 {
    margin-top: 1.2em;
    text-align: center;

    padding: 0.2em 0.4em;
}

.portfolio p {
    margin: 1.2em 0 2em;

    text-align: center;
    border-style: none;

    background-color: var(--clear);
}

.glass {
    padding: 0.4em 0.6em;
    color: var(--foreground-inactive);
    background-color: var(--background);
    opacity:0.9;

    border-style:solid;
    border-radius:2em;
    border-color:var(--clear);
}

/* gallery img */
.wrapper {
    margin-top: 1em;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.wrapper .imgHolder {
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapper img {
    pointer-events: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: auto;
    right: auto;

    transition: all 0.2s ease-out;
}

.wrapper .imgHolder span {
    position:absolute;
    top:50%;
    left:1em;
    right:1em;

    transform: translateY(-50%) scale(0.6);
    text-align: center;

    opacity: 0;
    transition: all 0.3s;

    color: var(--accent);
}

.wrapper .imgHolder span p {
    padding:0;
    margin:0;
    opacity: 1;
    color: var(--background);
}

.wrapper .imgHolder span a {
    opacity: 1;
    padding: .5em 0;
    color: var(--background);
    transition: all 0.1s;
    text-decoration: none;
}
.wrapper .imgHolder span a:hover {
    color: var(--accent);
}

.wrapper .imgHolder span i {
    padding: 0 0.1em;
    margin-top: .3em;
    font-size: 2em;
    color: var(--background);
    transition: all 0.3s;
}
.wrapper .imgHolder span i:hover {
    transform:translateY(-10%);
    color:var(--accent);
}

.wrapper .imgHolder:hover span {
    transform: translateY(-50%);
    opacity:1;
}

.lightTileText {
    color: var(--background);
}

.wrapper .imgHolder:hover img {
    border-style: solid;
    border-width: 0;
    border-radius: 100%;
    border-color: var(--foreground);

    filter: saturate(20) brightness(.5) blur(2px);
}
