.nav {
    position: fixed;
    width: max(11vmax, 200px);
    top: 0;
    bottom:0;

    padding-top: 2em;
    padding-left: 2em;

    background-color: var(--background);
    color: var(--foreground);
}

.nav-links {
    position: relative;

    padding-top: 2em;
    padding-bottom: 1em;

    padding-left:0;
    width: 80%;
}
ul.nav-links {
    margin-top: 0;
    list-style-type: none;
}

.nav .nav-links li {
    display: block;
    margin-bottom: 0.8em;

    transition: transform 0.3s;
}

.nav li a::before {
    content: "/";
}

.nav li:hover {
    transform: translate(1vmax);
}

.nav li a {
    display: block;
    padding: 2px;
    background-color: var(--clear);

    transition: background-color 0.5s;
}

.nav li a:hover {
    color: var(--accent);
}

@media only screen and (max-width: 600px) {
    .nav {
        position: fixed;
        width: 100%;
        padding: 0;
        z-index: 1;
        top: 0;
        height: 3em;
    }

    .nav .title {
        padding-top: .6em;
        padding-left: .6em;
        height: 2em;
    }

    .nav .nav-links {
        position: absolute;
        top: 0;
        right: 0;
        padding: .6em .6em 0 0;
        float: right;
        text-align: right;
        width: auto;
    }

    .nav .nav-links li {
        display: inline-block;
    }

    .nav .nav-links li a::before {
        content: "";
    }

    .nav .pageTitle {
        display: none;
    }

    .nav .socials {
        display: none;
    }
}
