.sidebar {
    position: fixed;
    width: max(11vmax, 200px);
    top: 0;
    bottom:0;

    padding-top: 2em;
    padding-left: 2em;

    background-color: var(--background);
    color: var(--foreground);
}

.sidebarContent {
    position: relative;
}

.sidebar ul {
    position: relative;

    padding-top: 2em;
    padding-bottom: 1em;

    padding-left:0;
    width: 80%;
}

.sidebar li {
    display: block;
    margin-bottom: 0.8em;

    transition: transform 0.3s;
}

.sidebar li a::before {
    content: "/";
}

.sidebar li:hover {
    transform: translate(1vmax);
}

.sidebar li a {
    display: block;
    padding: 2px;
    background-color: var(--clear);

    transition: background-color 0.5s;
}

.sidebar li a:hover {
    color: var(--accent);
}



