.planets {
    overflow: hidden;
    position: fixed;
    height: 80vmax;
    width: 80vmax;
    right: 0;
    bottom: 0;
    z-index: -1;

    /*background-color: var(--background);*/
    background-color: transparent;
}
@media only screen and (max-width: 600px) {
    .planets {
        height: 100vmax;
        width: 100vmax;

        transform: scale(0.5) translate(50%, 50%);
    }
}

.planet {
    position: absolute;
    border-radius: 50%;
    display: inline-block;

    width: var(--radius);
    height: var(--radius);
}

.orbit {
    position: absolute;

    /*border: #orbit_thickness.css solid var(--foreground-inactive);*/
    border-radius: 100%;
    background-color: transparent;

    z-index:-1;
}

#include mercury.css
#include earth.css
#include venus.css
#include mars.css
