.sidebar {
    position: fixed;
    width: max(11vmax, 200px);
    top: 0;
    bottom:0;

    padding-top: 2em;
    padding-left: 1vw;

    background-color: var(--background);
    color: var(--foreground);
}

.sidebarContent {
    position: relative;
    /*background-color: var(--background);*/
}

.sidebar ul {
    position: relative;
    /*background-color: var(--background);*/

    padding-top: 2em;
    padding-bottom: 1em;
    /*margin-left: 1vmax;*/

    padding-left:1vmax;
    width: 85%;
}

.sidebar li {
    display: block;
    margin: 0 0 11px  0;

    transition: transform 0.2s;
}

.sidebar li:hover {
    transform: translate(1vmax);
}

.sidebar li a {
    display: block;
    padding: 2px;
    background-color: rgba(0,0,0,0);

    transition: background-color 0.5s;
}

.sidebar li a:hover {
    color: var(--foreground);
    background-color: var(--background-alt);
}



