.socials {
    position: absolute;

    background-color:var(--background);

    bottom: 1.6em;
}

.socials i {
    font-size: 2.0em;
    padding-right: .1em;
    color: var(--foreground-inactive);
    transition: color 0.3s;
}
.socials i:hover {

    color: var(--accent);
}

.socials a {
    text-decoration: none;
    transition: color 0.3s;
}
